<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo large material-icons">accessibility</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/">User</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/todo">Todo</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a routerLink="/">User</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/todo">Todo</a></li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>
